*{
    margin: 0px;
    padding: 0px;
    font-family: "Parkinsans", sans-serif;
}
.header{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-content-2{
    display: flex;
    justify-content: space-evenly;
    gap: 17px;
}
.heading{
    font-weight: 100;
}
.options{
    font-size: 13px;
    font-weight: 100;
}
.header-content-1{
    display: flex;
}
.part-2{
    background-image: url('../image/bags002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 50px;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 90px;
}
.part-2-mess-2{
    line-height: 20px;
    font-size: 12px;
    margin-top: 30px;
}
.part-2-button{
    height: 40px;
    width: 180px;
    background-color: green;
    color: white;
    border: 1px solid green;
    margin-top: 30px;
}
.part-2-mess-1{
    font-weight: 500;
    font-size: 38px;
}
.card{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
}
.card-content{
    text-align: center;
}
.content-1{
    font-weight: 380;
}
.content-2{
    font-weight: 100;
    font-size: 12px;
}